<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> List of users</title>
</head>
<style>
    body {
        background: antiquewhite;
    }
</style>
<div>
    <table class="table table-dark" style="background: black">
        <p><button onclick="window.location.href='/admin?count=1';">Show 1 user</button>
            <button onclick="window.location.href='/admin?count=2';">Show 2 user</button>
            <button onclick="window.location.href='/admin?count=3';">Show 3 user</button>
            <button onclick="window.location.href='/admin?count=4';">Show 4 user</button>
            <button onclick="window.location.href='/admin?count=5';">Show 5 user</button>
            <button onclick="window.location.href='/admin?count=100';">Show 100 users</button> </p>
        <form method="POST" action="/admin/save">
            <p>Enter user:</p>
            <p><label for="name"></label><input type="text" name="name" value="" pattern="^[a-zA-Z]+$" id="name" placeholder="Name" required></p>
            <p><label for="lastName"></label><input type="text" name="lastName" value="" pattern="^[a-zA-Z]+$" id="lastName" placeholder="Lastname" required></p>
            <p><label for="age"></label><input type="text" name="age" value="" pattern="^[0-9]+$" id="age" placeholder="Age" required></p>
            <p><label for="username"></label><input type="text" name="username" value="" pattern="^[a-zA-Z]+$" id="username" placeholder="Username" required></p>
            <p><label for="password"></label><input type="text" name="password" value="" pattern="^[a-zA-Z0-9]+$" id="password" placeholder="Password" required></p>
            <p><label>
                <input name="roles" type="radio" value="ROLE_USER" required>
            </label> User</p>
            <p><label>
                <input name="roles" type="radio" value="ROLE_ADMIN" required>
            </label> Admin</p>
            <p><input type="submit" value="Submit"></p>
        </form>
        <thead>
        <tr>
            <th style="background: coral" scope ="col">id</th>
            <th style="background: coral" scope="col">Name</th>
            <th style="background: coral" scope="col">Lastname</th>
            <th style="background: coral" scope="col">Age</th>
            <th style="background: coral" scope="col">Username</th>
            <th style="background: coral" scope="col">Role</th>
        </tr>
        </thead>

        <tr th:each="user: ${userList}">
            <td style="background: darkgrey " th:text="${user.getId()}"/>
            <td style="background: darkgrey "  th:text="${user.getName()}"/>
            <td style="background: darkgrey "  th:text="${user.getLastName()}"/>
            <td style="background: darkgrey "  th:text="${user.getAge()}"/>
            <td style="background: darkgrey "  th:text="${user.getUsername()}"/>
            <td style="background: darkgrey "  th:text="${user.getRolesForWeb()}"/>
            <td><form method="GET">
                <p><input type="submit" value="Edit" th:formaction="${'/admin/update/'+ user.id}"></p>
            </form></td>
            <td><form method="GET">
                <p><input type="submit" value="Change password" th:formaction="${'/admin/update/'+ user.id + '/password'}"></p>
            </form></td>
            <td><form method="POST">
                <p><button type="submit" th:formaction="${'/admin/delete/'+ user.id}">Delete</button></p>
            </form></td>
        </tr>
    </table>
    <span>Your page is hee</span>
    <button onclick="window.location.href='/user';">User page</button>
    <span>or</span>
    <button onclick="window.location.href='/logout';">Logout</button>
</div>