<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor of user</title>
</head>
<body>
<form method="POST">
    <p>Enter new password:</p>
    <p><label for="newPassword"></label>
        <input type="text" name="newPassword" value="" pattern="^[a-zA-Z0-9]+$" id="newPassword" placeholder="newPassword" required></p>
    <p><input type="submit" value="Submit"></p>
</form>
</body>
<button onclick="window.location.href='/logout';">Logout</button>
</html>